
.hero{
  display: flex;
  justify-content: space-between;
}

.callToAction{
  margin-left: 4rem;
}

.titleText{
  text-align: center;
  text-transform: uppercase;
  color: #151D5E;
}

.titleText span{
  color: #8C261E;
}

.heroText{
  color: #8C261E;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.callToAction p{
  color:#151D5E;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.callToAction button{
  background-color: #8C261E;
  color: white;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.9rem;
}

.heroImage{
  margin-right: 4rem;
  padding-bottom: 2rem;
}

.motivation{
  background-color: #8C261E;
  color: white;
  padding: 2rem;
}

.motivation .header{
  text-align: center;
  font-weight: 600;
  font-size: larger;
}

.motivation p {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: center;
}

.tablets{
  display: flex;
  justify-content: space-between;
}

.tablet{
  flex: 1;
  background-color: #f6f4f4;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #151D5E;
  
  padding: 20px;
  margin: 4rem;
  color: #151D5E;
}

.tabletTitle{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.tablet p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin: 3rem;
  font-size: 16px;

}

.reviews {
  background-color: #151D5E;
  color: white;
  padding: 3rem;
  display: flex;
  margin-bottom: 2rem;
}

.reviews .comment {
  padding-left: 2.5rem;
}
.authorName{
  font-style: italic;
}

.profilePic{
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}