.blogTitle{
    text-align: center;
}

.blogImage{
    text-align: center;
    
}
.blogContent{
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 2rem;
    font-family: Georgia, serif;
    line-height: 1.6;
}
.blogImage img{
    height: 30rem;
}

.returnButton{
    text-align: center;
    padding: 2rem;
    
}

.returnButton button{
background-color: #8C261E;
  color: white;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.9rem;
}